---
layout: default
---

<!-- Research Interests -->
<div class="row">
    <article class="post">
        <div class="title">
            <h2>Research Interests</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <strong>Source Data to Visualization</strong> of scientific software models
            </div>
            <div class="col-sm-6 col-md-4">
                <strong>Equity-Oriented Models</strong> of land use decisions and applications
            </div>
            <div class="col-sm-6 col-md-4">
                <strong>Containerized Computing</strong> on clusters, clouds, and grids
            </div>
        </div>
        <br/>
    </article>
</div>

<!-- Recent News -->
<div class="row">
    <article class="post">
        <header>
            <div class="title">
                <h2>What's new?</h2>
                <p>News and recent publications</p>
            </div>
        </header>

        <div class="row">
            <div class="col-sm-6 col-md-6" style="padding-right: 1em">
                {% include blogs.html %}
            </div>
            <div class="col-sm-6 col-md-6">
                {% include publications.html %}
            </div>
        </div>

        <footer style="margin-top: 2em">
            <div class="col-sm-6 col-md-6">
                <ul class="actions">
                    <li><a href="/activities" class="button large">See all Activities</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6">
                <ul class="actions">
                    <li><a href="/publications" class="button large">See all Publications</a></li>
                </ul>
            </div>
        </footer>

    </article>
</div>

<!-- Research Projects -->
<div class="row">
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="/projects">Research Projects</a></h2>
                <p>Featured Research Projects</p>
            </div>
        </header>

        <div class="row">
            <div class="col-sm-12 col-md-6" style="margin-bottom: 2em">
                <div>
                    <a href="http://mint-project.info/" target="_blank">
                        <img src="assets/images/mint.png" width="80" style="float: left; margin-right: 0.5em"/>
                    </a>
                    <p style="font-size: 0.8em; line-height: 1.3em">
                        The <a href="http://mint-project.info/" target="_blank">MINT project</a> is developing a modeling 
                        environment which will significantly reduce the time needed to develop new integrated models while 
                        ensuring their utility and accuracy.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6" style="margin-bottom: 2em">
                <div>
                    <a href="https://is-geo.org/" target="_blank">
                        <img src="assets/images/isgeo.png" width="55" style="float: left; margin-right: 0.5em"/>
                    </a>
                    <p style="font-size: 0.8em; line-height: 1.3em">
                        The <a href="https://is-geo.org/" target="_blank">Intelligent Systems for Geosciences (IS-GEO) project</a> 
                        represents an emerging community of interdisciplinary researchers producing fundamental new capabilities 
                        for understanding Earth systems and how the application of IS technologies can cultivate key new developments 
                        in both fields.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6" style="margin-bottom: 2em">
                <div>
                    <a href="https://bridgingbarriers.utexas.edu/planet-texas-2050/" target="_blank">
                        <img src="assets/images/planet-texasl.png" width="55" style="float: left; margin-right: 0.5em"/>
                    </a>
                    <p style="font-size: 0.8em; line-height: 1.3em">
                        The <a href="https://bridgingbarriers.utexas.edu/planet-texas-2050/" target="_blank">Planet Texas 2050 project</a> 
                        seeks to make Texas a habitable, sustainable, and equitable environment for human settlement by 2050. It is an 
                        eight-year sprint to find solutions that will make our communities more resilient and better prepared for the future.
                    </p>
                </div>
            </div>
        </div>

        <br/>

        <footer>
            <ul class="actions">
                <li><a href="/projects" class="button large">See all Projects</a></li>
            </ul>
        </footer>
    </article>
</div>
