<section id="footer">
    <p class="copyright">
        <a href="https://www.tacc.utexas.edu/" target="_blank" style="border: 0">
            <img src="/assets/images/tacc.png" alt="TACC" style="width: 20em"/>
        </a>
        <br/><br/>
        Daniel Hardesty Lewis<br/>
        Texas Advanced Computing Center<br/>
        <i class="fas fa-map-marker-alt"></i> Austin, Texas <br/>
<!--        <i class="fas fa-phone"></i> Office: 310-448-8352<br/>-->
<!--        <i class="fas fa-envelope"></i> <span style="text-transform: lowercase">rafsilva@isi.edu</span><br/>-->
        <i class="fas fa-envelope"></i> <span style="text-transform: lowercase">dhl@tacc.utexas.edu</span>
        <br/><br/><br/>
        &copy;{{ site.time | date: '%Y' }} Daniel Hardesty Lewis<br/>Engineering Scientist Associate.
    </p>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-338939-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-338939-1');
</script>
